	body {
			background-color: paleturquoise;
			font-size: 16px;
			font-family: 'Orbitron', sans-serif;
		}

		.has-cursor{

			margin-left: 3px;
			display: inline-block;
			width: 17px;
			height: 61%;
			position: relative;
			top: 15px;
			background-color: #32CD3C;
			animation: blink 1s infinite;
		}

		.extendConsole{

			animation: extend-console .5s linear;
			animation-fill-mode: forwards; 
		}
		

		.header{
			
				background-color: #cd32c3 ;
				padding: 20px 0px;
				text-align: center;
				border-bottom:40px solid #fff;
				
 box-shadow:2px 2px 1px #cd32c3 ;
			
		}
	
		h1{
			font-weight: 900;
			text-shadow: -0.2em 0.3em 0 rgba(0,0,0,0.2);
			font-size:60px;
			color: #fff;
			
		}

		#mainBody label{

			position: relative;
			width: 200px;
			z-index: 50000;
			
			margin: 0px auto;
			color: #32CD3C;
			display: block;
			letter-spacing:2px;

			font-size: 12px;
			font-weight:300;
			background-color: #000
		}

		#gamePlayLabel{
			bottom:60px
		}

		#timerLabel{
			bottom:10px;
		}

		#terminal,#inputContainer, #timerContainer, #consoleContainer{
			color: #32CD3C;
    font-weight: 900;
    font-size: 104px;
    background-color: #000;
    border: 1px solid #737373;
    padding: 20px;
    letter-spacing: 24px;
	text-align: center;
	min-height:198px;
    position: relative;
    bottom: 20px;
    margin:0px auto;
    line-height: 1.9;
    border-radius: 10px;
    width: 32%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			
		}

		.easeInLeft{

			animation: ease-left .5s linear;
			animation-fill-mode: forwards; 
		}

		.easeInRight{

			animation: ease-right .5s linear;
			animation-fill-mode: forwards; 

		}

		.easeOutLeft{

			animation: ease-out-left .5s linear;
			animation-fill-mode: forwards; 


		}
		.easeOutRight{
			
			animation: ease-out-right .5s linear;
			animation-fill-mode: forwards;


		}

		#inputContainer{
			width:85%;
			height:136px;
			min-height:0px !important;
			bottom:90px !important;
		}

		#consoleText{
			height:300px;
			overflow:hidden;
		}

		.error{
			color: #cd3276 !important;
		}

		.victory{
			color: 	#cd32c3 !important;
		}

		.results {
			color: #c3cd32 !important;
		}

		.bonus{
			color: #ffffff !important;
		
		}

		

		#consoleContainer {
			width: 45%;
    background-color: #000;
	height: 340px;
	font-size:11px;
	text-align:left;
	letter-spacing:2px;
    min-height: 0px !important;
    bottom: 73px !important;
		}

		#timerContainer{
			width:85%;
			font-size:90px;
			height:136px;
			margin-top:3px;
			bottom:70px !important;
			min-height:0px !important;
		}

		#rules{

			margin:20px auto;
			font-size:30px;
			font-weight:900;
			text-align:center;
		
		}

		.emphasis {
			animation: color-emphasis .5s linear;
			animation-fill-mode: forwards; 
		}

		#main-container {
			width: 100%
		}

		#console {

			margin: 60px auto;
			width: 50%;
			border: 1px solid #000;
			display: flex;

		}

	
		
.buttonContainer{
	margin:0 auto;
	display:flex;
	width:600px;
	padding:6px;

}

		.buttonContainer button {
			border-radius: 37px;
			height: 101px;
			/* width: 262px; */
			font-size: 38px;
			padding: 20px;
			color: #ffffff;
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			background-color: #cd32c3;
			color: #ffffff;
			font-weight:900;
			font-family:'Orbitron',sans-serif;
			margin:7px;
			display:block;
			cursor:pointer;
		}



		

	#gameText::placeholder{
		color: #32CD3C;
		
	}

		#gameText {
			background-color: #000;
			color: #32CD3C;
    		font-weight: 900;
    		font-size: 95px;
			border:0px;
			letter-spacing:30px;
			width:60%;
			display:inline-block;
			font-family:'Orbitron', sans-serif;

			

		}

		#mainBody {

			display: flex;
			justify-content: flex-start;

		}

		#gameSection{
			display:none;
		}

	


		.game-child{width:50%}



		.high-score-item{
			font-size:20px;
			letter-spacing:5px;

		}

		@keyframes color-emphasis {
			0% {color:#32CD3C;}
			100%{color: #cd32c3;}
	
		}

		@keyframes blink {
			0% {color: 0;}
			49%{opacity: 0;}
			50% {opacity: 1;}
		}


		@keyframes extend-console {
			0% {height: 276px;}
			100% {height: 360px;}
		}

		

		@keyframes ease-left{

			0%{right:700px;}
			100%{right:0px;}
		}

		@keyframes ease-right{

			0%{left:700px;}
			100%{left:0px;}
		}
		@keyframes ease-out-left{

			0%{right:0px;}
			100%{right:1000px;}
		}

		@keyframes ease-out-right{

			0%{left:0px;}
			100%{left:1000px;}
		}